<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top" class="blog">
        <nav id="blogNav" class="navbar blog-navbar-default navbar-fixed-top">
            <div class="container-fluid">
                {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
                <div class="blog-navbar-header">
                  <a class="navbar-brand page-scroll" href="{{.Site.BaseUrl}}">{{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}</a>
                </div>
                <p class="navbar-text blog-navbar-text"><a href="#page-top" class="blog-navbar-link">Blog</a></p>
             </div>
            {{ "<!-- /.container-fluid -->" | safeHTML }}
        </nav>
        {{ range .Data.Pages }}
        <div class="blog-item-link">
            <a href="{{ .Permalink }}">
                <h2>{{ .Title }}</h2>
                <p class="blog-item-summary">{{ .Summary }}</p>
                <p class="blog-item-date">&mdash;{{ .Date.Format "Jan 1, 2006" }}</p>
            </a>
        </div>
        {{ end }}
    </body>
</html>
